@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn{
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
}

  .navbar{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo-name{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}
.menu-bar{
    display: flex;
    gap: 0 34px;
    list-style: none;
}
.menu a{
    font-size: 1.1rem;
    font-weight: 600;
    color: #3A3A3A;
    text-decoration: none;
}
.menu i{
    color: #3A3A3A;
}
/* Hero area  */
.hero-section{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 0 134px;
}
.hero-cont{
    max-width: 582px;
    height: 270px;
}
.hero-cont h1{
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
}
.hero-cont p{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}
.hero-img img{
    width: 440px;
    height: 414px;
}










